@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

// VARIABLE FUENTES
$inter: "Inter", sans-serif;

//VARIABLES PALETA COLORES
$c-principal: #4e4feb;
$c-secundario: #353535;
$c-btnhover: #7d7df8;
$c-btnhover2: #636363;
$c-fuentes: white;

// OTRAS VARIABLES
$breadcrumb-divider: quote(">");
