main {
  .contenedor_main_sobre-mi {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .contenedor_img_p:hover .imgs {
      @include animar-img;
    }

    .contenedor_img_p {
      overflow: hidden;
    }
    .btn_sobre_mi:hover {
      @include hover-principal;
    }
  }

  .imagenes_sobre_mi {
    margin-top: 10px;
    justify-content: center;
    text-align: center;
  }
  .imgf:hover {
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition: 0.8s ease-in-out;
  }
}
